#box {
    width: 400px;
    height:250px;
    background-color: white;
    border: solid 3px black;
    margin-left: 700px;
    margin-top:350px;
}

#text {
    margin-top: 100px;
    margin-left: 150px;
    width:150px;
}

body {
    background-color: aquamarine;
}

#button1 {
    margin-left: 160px;
    background-color: rgb(58, 119, 172);
    color:white;
    border: 1px solid rgb(42, 28, 82);
    border-radius: 4px;
}